<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientName" value ="Nick"/>
		<add key="ipAddress" value="10.144.10.41"/>
		<add key="portNumber" value="4501"/>
		<add key="serverIpAddress" value="10.144.10.41"/>
		<add key="serverPortNumber" value="4504"/>
	</appSettings>
</configuration>